@using Newtonsoft.Json
@model DreamJob.Ui.Web.Mvc.Controllers.OfferIndexViewModel
<div ng-app='djapp'>
    @{
        var currentUser = JsonConvert.SerializeObject(Model.CurrentUser, new Newtonsoft.Json.Converters.StringEnumConverter());
    }
    <div ng-include='"AngularApplication/Views/Offers/Index.html"' ng-controller='OfferController' ng-init='init(@currentUser)'></div>
</div>


