<div class="container text-justify">
    <div class="row ">
        <div class="col-md-3">
            Programisto załóż konto, wypełnij swój profil oraz napisz, co potrafisz i czym chciałbym się zajmować.
            Ustaw swój profil jako aktywny i czekaj na oferty. To Ty decydujesz czy oferta jest dopasowana i pasuje do Twoich umiejętności.
            Ty decydujesz kiedy i jakie dane osobowe przekazujesz rekruterowi.
        </div>
        <div class="col-md-6">
            <h2>
                Dream job - to portal dla programistów poszukujących pracy i dla rekruterów szukających pracowników.
                Programistom umożliwiamy zachowanie pełnej anonimowości, tak długo jak będą tego chcieli.
                Rekruterom oferujemy możliwość znalezienia idealnego kandydata.
            </h2>
        </div>

        <div class="col-md-3">
            Rekruterze załóż konto, uzupelnij swój profil i oznacz się jako aktywny. Uzyskasz dostęp do programistów chcących zmienić swoją pracę.
            Możesz wyszukać intereującą Cię umiejętnośc programisty, przeczytać co chce robić i jeśli będzie on człowiekiem, którego potrzebujesz wysłać mu ofertę.
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            Jeszcze wiele przed nami, mamy całkiem sporo pomysłów jak możemy poprawić i ulepszyć aplikację - mając na celu oba obozy: programistów i rekruterów.
            System tworzymy po godzinach pracy, także nie zawsze jest czas i chęci. Jeśli będziemy widzieć, że czegoś bardzo potrzebujecie to dostarczymy takie rozwiązania. Jeśli coś nie będzie działać, lub będzie nie potrzebne czy bez sensu jesteśmy gotowi to zmieć i poprawić.
        </div>
        <div class="col-md-6">
            <div>Nasze pomysły i listę zadań można śledzić na trello: <a target="_blank" href="https://trello.com/b/d9vjwPFu/dreamjob-dev">trello</a></div>
            <div>
                Wasze pomysły chętnie przyjmiemy, na trello. Jak tylko uda nam się ustawić jedną kolumnę publiczną dla wszystkich do dodawania. Można także bezpośrednio na maila, a my potem to wrzucimy na trello. Kontakt do nas: <a href="mailto:dreamjob.contact@gmail.com">dreamjob.contact@gmail.com</a>
            </div>
        </div>
    </div>
</div>