@model DreamJob.Ui.Web.Mvc.Services.DeveloperPublicDataDto
<div ng-app='djapp'>
    <div ng-include='"~/../../../AngularApplication/Views/Developer/recruiterpanel.html"' 
         ng-controller='RecruiterPanelController' 
         ng-init='init(@Model.DeveloperId)'></div>
</div>
