@model DreamJob.Ui.Web.Mvc.Models.Dto.DeveloperShortInformationDto

<div>
    <div class="row">
        <div class="row">
            <div class="medium-3 columns">
                @Model.DisplayName
            </div>
            <div class="medium-3 medium-offset-9 columns right-align">
                @Model.City
            </div>
        </div>
        <div class="row">
            <div class="medium-offset-1 medium-6 columns">
                @Model.Title
            </div>
        </div>
    </div>
</div>