<div ng-app='djapp'>
    <div ng-include='"AngularApplication/Views/Developer/Search.html"'></div>
</div>
@section scripts{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/foundation-angular/mm-foundation-tpls-0.3.1.min.js"></script>
    <script src='~/AngularApplication/dreamjobapplication.js'></script>
<script src="~/AngularApplication/Controllers/DevelopersSearchController.js"></script>
}