<div class="dj-container">
     <div class="panel">
        <h2 class="text-danger">We've got 404</h2>
        <p>
            It looks as we have nothing here.
        </p>
        <p>Guys responsible for this error: Twitter | Twitter</p>
    </div>
</div>
