<div class="row">
    <button class="button" data-ng-click="prepareJobOffer()">send job offer</button>

    <script type="text/ng-template" id="myModalContent.html">
        <div>
            <div class="row">
                <div class="medium-12 columns">
                    <h3>Job Offer Editor</h3>
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <label for="subject">Job offer subject(*)</label>
                    <input type="text" name='subject' ng-model="JobOffer.Subject"></input>
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <label for="description">Job offer description(*)</label>
                    <textarea rows="15" name="description" ng-model="JobOffer.Description"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <label for="minsalary">Job offer minimum salary(*)</label>
                    <input type="text" name='minsalary' ng-model="JobOffer.MinSalary"></input>
                </div>
                <div class="medium-6 columns">
                    <label for="maxsalary">Job offer maximum salary</label>
                    <input type="text" name='maxsalary' ng-model="JobOffer.MaxSalary"></input>
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <label for="matchesDeveloperRequirements">Matches developer requirements(*)</label>
                    <input name="matchesDeveloperRequirements" type='checkbox' ng-model="JobOffer.MatchesDeveloperRequirements" />
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <button class="button right" ng-click="ok()" ng-disabled="IsOfferValid()">SEND</button>
                    <button class="button right" ng-click="cancel()">CANCEL</button>
                </div>
            </div>
            <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
        </div>
    </script>
</div>