<div>
    <button class="button" data-ng-click="prepareJobOffer()">send job offer</button>

    <script type="text/ng-template" id="myModalContent.html">
        <form novalidate name="newOffer">
            <div class="row">
                <div class="medium-12 columns">
                    <h3>New job offer</h3>
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <label for="subject">Job offer subject(*)</label>
                    <input ng-required="true" type="text" name='subject' ng-model="JobOffer.Subject"></input>
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <label for="description">Job offer description(*)</label>
                    <textarea required rows="15" name="description" ng-model="JobOffer.Description"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <label for="minsalary">Job offer minimum salary(*)</label>
                    <div class="row collapse prefix-radius">
                    <div class="small-8 columns">
                        <input ng-required="true" min-price="" type="number" type="text" min-val="{{JobOffer.MinSalary}}" name='minsalary' ng-model="JobOffer.MinSalary"></input>
                    </div>
                    <div class="small-4 columns">
                         <span class="postfix">PLN Netto</span>
                    </div>
                    </div>

                </div>
                <div class="medium-6 columns">
                    <label for="maxsalary">Job offer maximum salary</label>
                    <div class="row collapse prefix-radius">
                    <div class="small-8 columns">
                    <input type="number" name='maxsalary' ng-model="JobOffer.MaxSalary"></input>
                    </div>
                    <div class="small-4 columns">
                      <span class="postfix">PLN Netto</span>
                    </div>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <input ng-required="true" id="matchesDeveloperRequirements" name="matchesDeveloperRequirements" type='checkbox' ng-model="JobOffer.MatchesDeveloperRequirements" />
                    <label for="matchesDeveloperRequirements">Matches developer requirements(*)</label>
                </div>
                
            </div>
            <div class="row">
                <div class="medium-12 columns right">
        <div class="button-group right">
        <button class="button" ng-click="cancel()">CANCEL</button>
        <button class="button" ng-click="ok()" ng-disabled="IsOfferValid()">SEND</button>
        </div>
        
                </div>
            </div>
            <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
        </form>
    </script>
</div>