<div class="row" ng-controller='DevelopersSearchController'>
    <div class="left-padded">
        <section class="section">
            <div class="row collapse">
                <div class="large-12 small-12 columns">
                    <div class="row collapse">
                        <div class="small-2 columns">
                            <label class="inline">Technology or position</label>
                        </div>
                        <div class="small-10 columns">
                            <input type="text" ng-model="searchString" placeholder="Technology or position" />
                        </div>

                    </div>
                    <div class="row collapse">
                        <div class="small-2 columns">
                            <label class="inline">City</label>
                        </div>
                        <div class="small-10 columns">
                            <input type="text" ng-model="searchCity" placeholder="City" typeahead="city for city in getCities($viewValue)"
                                class="form-control" />
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-5 columns"></div>
                        <div class="small-2 columns">
                            <button class="button columns" ng-click="searchForDevelopers()">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="marged-top " ng-show="developers && developers.length>0">
        <section class="section">
            <div class="left-padded marged-top" ng-repeat="developer in developers">
                <div class="row collapse">
                    <div class="small-10 columns">
                        <h5 class="title">
                            <a ng-href="/Developer/Profile/{{developer.DisplayName}}">{{developer.Title}}    
                            </a>
                            <small>{{developer.MinSalary}} PLN</small>
                        </h5>
                    </div>
                    <div class="small-2 columns">
                        <h5 class="job-offer-date">
                            <i class="fi-clock"></i>
                            <small>{{developer.Registered}}</small>
                        </h5>
                    </div>
                </div>
                <div class="row collapse">
                    <div class="small-10 columns">
                        <p>{{developer.Profile}}</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
