@model DreamJob.ViewModels.HomeIndexViewModel

<div class="container">
    <div class="col-md-10 col-md-offset-1">
        Here are the stars:
        @Html.DisplayFor(m => m.Headlines)
    </div>

</div>


