@model DreamJob.ViewModels.HomeIndexViewModel

<div class="container">
    <div class="row bolded-text">
        <span class="col-md-4 short-text">Position</span>
        <span class="col-md-4 short-text">Summary</span>
        <span class="col-md-1">Skills</span>
        <span class="col-md-3 text-right">Salary PLN</span>    
    </div>
    <div class="list-group">
        @Html.DisplayFor(m => m.Headlines)
    </div>

</div>


