@using HtmlHelpers.BeginCollectionItem

@foreach (object item in Model)
{
    <div class="nocss-editor">
        @using (Html.BeginCollectionItem(Html.ViewData.TemplateInfo.HtmlFieldPrefix))
        {
        @Html.EditorFor(_ => item, null, "")
        }
    </div>
}
