@model DreamJob.ViewModels.DeveloperSkillViewModel
<span>
    <button class="btn">
        @Model.Name
        <span class="badge">
            @Model.Level
        </span>
    </button>
</span>