@model DreamJob.ViewModels.ProfilePublicDeveloperViewModel
<h1>@Model.DisplayName</h1>
<h6>
    @Html.LabelFor(m => m.Salary)
    @Html.DisplayFor(m => m.Salary)
    <span>montly netto pln</span>
</h6>