<section class="section">
    <h5 class="title">My profile</h5>
    <div class="row collapse">
        <div class="small-2 columns">
            <label>Display name: </label>
        </div>
        <div class="small-4 columns">
            <label ng-bind="profile.DisplayName"></label>
        </div>
        <div class="columns"></div>
    </div>
    <div class="row collapse">
        <div class="small-2 columns">
            <label>Email: </label>
        </div>
        <div class="small-4 columns">
            <label ng-bind="profile.Email"></label>
        </div>
        <div class="columns"></div>
    </div>
    <div class="row collapse">
        <div class="small-2 columns">
            <label>Login: </label>
        </div>
        <div class="small-4 columns">
            <label ng-bind="profile.Login"></label>
        </div>
        <div class="columns"></div>
    </div>
</section>