<div class="left-padded">
    <section class="section">
        <h5 class="title">Visibility options:</h5>
        <div class="row collapse">
            <div class="small-12 columns">
                <div class="row collapse">
                    <div class="small-3 columns">
                        <label class="inline" for="cbx-lookingforajob">Profile is visible for recruiters:</label>
                    </div>
                    <div class="small-9 columns">
                        <input id="cbx-lookingforajob" class="inline" type="checkbox" ng-model="profile.IsLookingForJob" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="left-padded">
    <section class="section">
        <h5 class="title">Experience</h5>
        <p>
            Please fill only the most valuable skills for your dream job. This will help recruiters
            to find you among the others developers.
        </p>
        <button class="button small" ng-click="addSkill()">
            <i class="fi-plus"></i>
            <span>Add skill</span>
        </button>
        <div class="row collapse">
            <div ng-repeat="skill in profile.Skills" class="large-12 small-12 columns">
                <div class="row collapse">
                    <div class="small-1 columns raiting-line-height">
                        <button class="button tiny alert" ng-click="deleteSkill($index)">
                            <i class="fi-x"></i>
                        </button>
                    </div>
                    <div class="small-3 columns">
                        <input type="text" ng-model="skill.Description" placeholder="example: JavaScript" />
                    </div>
                    <div class="small-4 columns raiting-line-height">
                        <div class="rating-bar">
                            <rating value="skill.SelfRate" max="10" state-on="'fi-star selected'" state-off="'fi-star'"></rating>
                            <b>{{skill.SelfRate}}</b>
                        </div>
                    </div>
                    <div class="columns"></div>
                </div>
            </div>
        </div>
    </section>
</div>
<br />
<form name="profileForm">
    <div class="left-padded">
        <section class="section">
            <h5 class="title">Job preferences</h5>
            <div class="row collapse">
                <div class="large-12 small-12 columns">
                    <div class="row collapse">
                        <div class="small-2 columns">
                            <label class="inline">Desirable title: </label>
                        </div>
                        <div class="small-10 columns">
                            <input type="text" ng-model="profile.Title" ng-required="true"  class="validated-input"/>
                               <p class="required-validation">Your desirable title is required.</p>
                        </div>
                        <div class="columns"></div>
                    </div>
                    <div class="row collapse">
                        <div class="small-2 columns">
                            <label class="inline">Minimal monthly salary: </label>
                        </div>
                        <div class="small-9 columns">
                            <input type="number" ng-model="profile.MinSalary" ng-required="true" ng-pattern="/^[1-9][0-9]*/" class="validated-input" />
                            <p class="required-validation">Minimal salary is required. Please let recruiter know which salary satisfies you.</p>
                            <p class="invalid-pattern">Please provide valid numeric format. For example: 1000</p>
                        </div>
                        <div class="small-1 columns">
                            <span class="postfix">PLN Netto</span>
                        </div>
                        <div class="columns"></div>
                    </div>
                    <div class="row collapse">
                        <div class="small-2 columns">
                            <label>Your profile (experience): </label>
                        </div>
                        <div class="small-10 columns">
                            <textarea rows="6" ng-model="profile.Profile" />
                        </div>
                        <div class="columns"></div>
                    </div>
                    <div class="row collapse">
                        <div class="small-2 columns">
                            <label>Project preferences: </label>
                        </div>
                        <div class="small-10 columns">
                            <textarea rows="8" ng-model="profile.ProjectPreferences" />
                        </div>
                        <div class="columns"></div>
                    </div>
                    <div class="row collapse">
                        <div class="small-2 columns">
                            <label class="inline">Preferred city: </label>
                        </div>
                        <div class="small-10 columns">
                            <input type="text" ng-model="profile.City" ng-class="isCityValid() ? 'ng-valid ng-valid-pattern' : 'ng-invalid ng-invalid-pattern'" typeahead="city for city in getCities($viewValue)"  typeahead-wait-ms="100" typeahead-min-length="3" class="form-control validated-input">
                            <p class="invalid-pattern">Preferred city is incorrect.</p>
                        </div>
                        <div class="columns"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>
<br />
<input class="button small-12 large-12 radius" type="submit" value="Save profile"
       ng-disabled="profileForm.$invalid || !isCityValid()"
       ng-class="profileForm.$invalid || !isCityValid()? 'disabled':''" 
       ng-click="saveDeveloperProfile()" />
