<div class="panel">
    <section class="section">
        <h5 class="title">Recruiter details</h5>

        <div class="row collapse">
            <div class="large-12 small-12 columns">
                <div class="row collapse">
                    <div class="small-2 columns">
                        <label class="inline">First name: </label>
                    </div>
                    <div class="small-10 columns">
                        <input type="text" ng-model="profile.FirstName" />
                    </div>
                    <div class="columns"></div>
                </div>
                <div class="row collapse">
                    <div class="small-2 columns">
                        <label class="inline">Last name: </label>
                    </div>
                    <div class="small-10 columns">
                        <input type="text" ng-model="profile.LastName" />
                    </div>
                    <div class="columns"></div>
                </div>
                <div class="row collapse">
                    <div class="small-2 columns">
                        <label class="inline">Mobile: </label>
                    </div>
                    <div class="small-10 columns">
                        <input type="tel" ng-model="profile.Mobile" />
                    </div>
                    <div class="columns"></div>
                </div>
                <div class="row collapse">
                    <div class="small-2 columns">
                        <label class="inline">Company: </label>
                    </div>
                    <div class="small-10 columns">
                        <input type="tel" ng-model="profile.Company" />
                    </div>
                    <div class="columns"></div>
                </div>
                <input class="button small-12 large-12 radius" type="submit" value="Save profile" ng-click="saveProfile()" />
            </div>
        </div>


    </section>

</div>
