<div ng-app='djapp'>
    <div ng-include='"AngularApplication/Views/Profile/Index.html"'></div>
</div>

@section scripts{
<script src="~/AngularApplication/LocalizationTexts.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/foundation-angular/mm-foundation-tpls-0.3.1.min.js"></script>
<script src='~/AngularApplication/dreamjobapplication.js'></script>
<script src="~/AngularApplication/Controllers/ProfileController.js"></script>
<script src="~/AngularApplication/Controllers/OffersController.js"></script>
}
