<div class="container">
    <div class="row">
        <div class="row">
            <h4>{{offer.From}}</h4>
        </div>
        <div class="row">
            <h5>{{offer.Subject}} <small>{{offer.Add}}</small></h5>
        </div>
        <div class="row">
            <span>{{offer.Description}}</span>
        </div>
    </div>
    <div class="row" ng-show="offerComments && offerComments.length>0">
        <div class="row" ng-repeat="comment in offerComments">
            <div class="medium-offset-1 columns">
                <div class="row">
                    <div class="small-10 columns">
                        <p>
                            <strong>{{comment.Author}}</strong> <small>{{comment.Add}}</small>
                            <br />
                            {{comment.Text}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class='row' id='dj-submit-comment'>
            <textarea ng-model='comment.text'></textarea>
            <button class='btn tiny' ng-click='addOfferComment()'>reply</button>
            <button class='btn tiny right-align' ng-click='cancelOffer()'>cancel</button>
            <button class='btn tiny right-align' ng-click='acceptOffer()'>accept</button>
            <button class='btn tiny right-align' ng-click='rejectOffer()'>reject</button>
        </div>
    </div>

</div>
