<h3 class="title"><a href="#" ng-click="switchToOfferList()">Offers</a> <span>> {{offer.Subject}}</span>
</h3>
<div class="container marged" ng-show="offer!==null">
    <div class="row">
        <div class="medium-12 columns job-header">
            <div class="row collapse">
                <div class="medium-12 columns">
                    <h3 class="title">
                        <strong>{{offer.Subject}}</strong>
                        
                    </h3>
                </div>
            </div>
            <div class="job-status-line ">
                <span class="job-status" ng-class="offer.OfferStatus">{{offer.OfferStatus}}</span>
            </div>
            <div class="line" ng-class="offer.OfferStatus"></div>
            <div class="row collapse">
                <div class="medium-5 columns">
                    <h4>
                        <small><i class="fi-address-book"></i></small>
                        <small>From: {{offer.From}}, {{offer.Email}}</small>
                    </h4>
                </div>
                <div class="medium-3 columns">
                    <h4 class="job-offer-date">
                        <small>
                            <i class="fi-clock"></i>
                            <span>{{offer.Add}}</span>
                        </small>
                    </h4>
                </div>
            </div>
        </div>
        <br />
        <div class="medium-12 columns">
            <p class="origin-text">{{offer.Description}}</p>
        </div>
    </div>
    <div class="row" ng-show="offerComments && offerComments.length>0">
        <div class="row box-list-container" ng-repeat="comment in offerComments">
            <div class="box-list-item columns">
                <div class="row">
                    <div class="small-2 columns item left-item">
                        <strong>{{comment.Author}}</strong> <small>{{comment.Add}}</small>
                    </div>
                    <div class="small-8 columns item right-item">
                        <p class="origin-text">
                            {{comment.Text}}
                        </p>
                    </div>
                    <div class="small-1 columns">
                        <i class="fi-comment"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class='row' id='dj-submit-comment' ng-hide='offer.IsLocked'>
        <hr />
        <div class="row collapse">
            <div class="small-5 columns">
                <h5>Answer | Other actions:</h5>
            </div>
            <div class="small-3 columns">
                <div class="button-group right">
                    <button class='btn tiny' ng-show="currentUser.AccountType=='Recruiter'" ng-disabled="offer.IsLocked"
                        ng-click='cancelOffer()'>
                        <i class="fi-x"></i>
                        cancel
                    </button>
                    <button class='btn tiny New' ng-hide="currentUser.AccountType=='Recruiter'" ng-disabled="offer.IsLocked"
                        ng-click='acceptOffer()'>
                        <i class="fi-check"></i>
                        accept
                    </button>
                    <button class='btn tiny Rejected' ng-hide="currentUser.AccountType=='Recruiter'"
                        ng-disabled="offer.IsLocked" ng-click='rejectOffer()'>
                        <i class="fi-x"></i>
                        reject
                    </button>

                </div>
            </div>
        </div>

        <div class="flat-textarea">
            <textarea class="flat-text" ng-disabled="offer.IsLocked" ng-model='comment.text'></textarea>
        </div>
        <div class="row collapse margined-top-20">
            <div class="small-2 columns right">
                <div class="button-group right">
                    <button class='btn tiny' ng-click='addOfferComment()' ng-disabled="comment.text.length==0 || offer.IsLocked">
                        <i class="fi-pencil"></i>
                        reply
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="offer.IsLocked">
    </div>

    <script type="text/ng-template" id="acceptOfferTemplate.html">
        <form name="acceptForm">
            <div class="row">
                <div class="medium-12 columns">
                    <h3>Share you contact information with recruiter to accept offer</h3>
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <label for="name">Name</label>
                    <input type='text' name="name" ng-model="AcceptedOffer.Name" ng-required="true" class="validated-input" />
                    <p class="required-validation">You name is required.</p>
                </div>
            </div>
           <div class="row">
                <div class="medium-12 columns">
                    <label for="email">Email</label>
                    <input type='text' name='email' ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*&#64;[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-model="AcceptedOffer.Email" ng-required="true" class="validated-input"></input>
                    <p class="required-validation">You email is required.</p>
                    <p class="invalid-pattern">Incorrect email, please provide your email.</p>
                </div>
            </div>
          <div class="row">
                <div class="medium-12 columns">
                    <label for="phone">Phone</label>
                    <input type="text" name='phone' ng-model="AcceptedOffer.Phone"></input>
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <label for="note">Note for recruiter</label>
                    <input type='text' name="note" ng-model="AcceptedOffer.Note" />
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <label for="subjectcontactMethod">Your prefered way of contact, time, date, etc.</label>
                    <input type="text" name='contactMethod' ng-model="AcceptedOffer.ContactMethod"></input>
                </div>
            </div>
         
          
            <div class="row">
                <div class="medium-12 columns right">
                    <div class="button-group right">
                        <button class="button right" ng-click="ok()" ng-disabled="acceptForm.$invalid" ng-class="acceptForm.$invalid ? 'disabled':''">SEND</button>
                        <button class="button right" ng-click="cancel()">CANCEL</button>
                </div>
                </div>
            </div>

            <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
        </form>
    </script>
</div>
<div class="container marged small-8 columns" ng-show="offer===null">
    <div class="arrow_box">
        <h3>Start reviewing your offers</h3>
        <p>Click the offer on the right side.</p>
    </div>

</div>
