<div class="row margined-top-50">
    <div id='dj-offers-container' class="row">
        <div class="medium-4 columns offers-list">
            <ul class="side-nav">
                <li ng-repeat="offer in offers" ng-click='details(offer)' ng-class="{'selected-offer':offer.selected}"
                    class="offer-list-item">

                    <div class="row">
                        <span class="small-9 columns leftpad-min">From: {{offer.From}}</span>
                        <span class="small-3 column marginleft-min">
                            <i class="fi-mail "></i>    
                        </span>
                        
                    </div>
                    <div class="row">
                        <span class="small-9 columns leftpad-min">{{offer.Subject}}</span>
                        <span class="small-3 columns marginleft-min">
                            {{offer.MessagesCount}}
                            <i class="fi-comments"></i>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
        <div ng-include="'AngularApplication/Views/Offers/Details.html'" class="medium-8 columns left-bordered">
        </div>
    </div>
</div>
