.dj-container {
    background: url(imgs/bg-cutted.jpg);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
.row.dj-container {
    width: 100%;
}
.margined-top-50 {
    margin-top: 50px;
}
.body {
    height: 100%;
}