@model DreamJob.ViewModels.ErrorIndexViewModel

<div class="container">
    <div class="jumbotron">
        <h1>Yeah, thats embarassing. Sorry about that</h1>
        <h3>@Html.ActionLink("This page always works", "Index", "Home")</h3>
    </div>
</div>