@model DreamJob.ViewModels.ErrorIndexViewModel

<div class="container">
    <div class="jumbotron">
        <h1>@Resources.Translations.Error_GeneralErrorHeading</h1>
        <h3>@Html.ActionLink(Resources.Translations.Error_ThisPageAlwaysWorks, "Index", "Home")</h3>
    </div>
</div>