@model DreamJob.ViewModels.ErrorNotFoundViewModel

<div class="container">
    <div class="jumbotron">
        <h1>@Resources.Translations.Error_NotFoundHeading</h1>
        <h3>@Html.ActionLink(Resources.Translations.Error_StartFromBegining, "Index", "Home")</h3>
        <h5><a href="http://google.com">@Resources.Translations.Error_NotFoundAskGoogle</a></h5>
    </div>
</div>