@using DreamJob.ViewModels
@model JobOfferStatusChangeViewModel
<li class="status-block @Model.GetStatusClass()">
    <div>
        <h5>
            @Model.Status
            <br />
            <small>
             
                @Model.AuthorName
                <br />
                @Model.CreateDateTime
            </small>
        </h5>
    </div>
</li>