@model DreamJob.ViewModels.JobOfferStatusChangeViewModel
<div class="row">
    <div class="col-md-2">
        @Model.CreateDateTime
    </div>
    <div class="col-md-1">
        @Model.Status
    </div>
    <div class="col-md-3">
        @Model.AuthorName
    </div>
    <div class="col-md-6">
        @Model.Text
    </div>
</div>