@model DreamJob.ViewModels.SearchResultViewModel

<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            @Resources.Translations.Search_DevelopersWithSalaryInRange
            @Html.DisplayFor(m => m.Headlines)
        </div>
    </div>

</div>


