@model DreamJob.ViewModels.SearchResultViewModel

<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            Showing results for following skills:
            @Html.DisplayFor(m => m.SkillsMatchedFount)
        </div>
        <div class="row">
            Here are the stars:
            @Html.DisplayFor(m => m.Headlines)
        </div>
    </div>

</div>


