@using DreamJob.ViewModels
@model ProfilePrivateViewModel
<div class="container col-md-6 col-md-offset-3">
    <form action=@Model.GetCurrentUserFormActionUrl() method="POST">
        <div class="has-error text-danger">
            @Html.ValidationSummary()
        </div>
        @if (Model.LoggedInUserRole == ApplicationUserRole.Developer)
        {
            @Html.Partial("_EditorForProfilePrivateDeveloperViewModel", Model.Developer)
        }
        else
        {
            @Html.Partial("_EditorForProfilePrivateRecruiterViewModel", Model.Recruiter)
        }

        <div class="form-group pull-right">
            <button name="Action" role="button" type="submit" value="" class="btn btn-primary">update</button>
            @Html.ActionLink("Back to profile", "Me", "Profile", null, new { @class = "btn btn-default" })
        </div>
    </form>
</div>