@model DreamJob.ViewModels.ProfileLoginSuccessViewModel
<div class="container">
    <div class="jumbotron">
        <h2>Hey, you made it. Great!</h2>
        <h4>@Html.ActionLink("Your profile is here", "Me", "Profile", null,new { @class = "btn btn-default" })</h4>
    </div>
</div>