@using DreamJob.ViewModels
@model ProfilePublicViewModel
<div class="container">
    @Html.ActionLink("Edit", "Edit", "Profile", null, new { @class = "btn btn-default btn-sm pull-right" })
    <div class="clearfix"></div>
    <hr/>
    @Html.Partial("_Public", Model)
</div>