@using DreamJob.ViewModels
@model ProfilePublicViewModel
<div class="container col-md-6 col-md-offset-3">
    @Html.Partial("_Public", Model)
    <hr />
    @Html.ActionLink("Edit", "Edit", "Profile", null, new { @class = "btn btn-default" })

</div>