@using DreamJob.ViewModels
@model ProfileRegisterViewModel

<div class="container col-md-6 col-md-offset-3">
    @using (Html.BeginForm("RegisterDeveloper", "Profile", FormMethod.Post))
    {
        @Html.Hidden("Role", ApplicationUserRole.Developer)
        <div class="has-error text-danger">
            @Html.ValidationSummary()
        </div>
        @Html.Partial("_RegisterProfile", Model)
        <button class="btn btn-primary pull-right" role="button">register</button>
    }
</div>
