@model DreamJob.ViewModels.ProfileRegistrationSuccessViewModel


<div class="container">
    <div class="jumbotron text-center text-info">
        <h2>Congratulations, you can now login to the system.</h2>
        <h3>
            <span class="glyphicon glyphicon-info-sign"></span>In order to fully use our application please update your profile and set it as active.<br/>
            Profiles that are not set as active cannot send any offers and are invisible when searching.
        </h3>
        <h4>@Html.ActionLink("Login now", "Login", "Profile",null,new{@class="btn btn-primary"})</h4>
    </div>
</div>
