@using System.Web
<ul class="right">
    @if (Request.IsAuthenticated)
    {
        <li>
            <ul>
                <li>
                    @Html.ActionLink((Session[DjSessionKeys.DisplayName] as string)??"stupid session", "Manage", "Account")
                </li>
            </ul>
        </li>
        <li>
            @Html.ActionLink("Log off", "Index", "Logoff")
        </li>
    }
    else
    {
        <li class="has-dropdown">
            <a href="#">Account</a>
            <ul class="dropdown">
                <li>
                    @Html.ActionLink("Login", "Index", "Login")
                </li>

                <li>
                    @Html.ActionLink("Register", "Index", "Register")
                </li>
            </ul>
        </li>
    }
</ul>