<nav class="top-bar" data-topbar ng-controller="NavigationController">
    <ul class="title-area">
        <li class="name">
            <h1>@Html.ActionLink("Dream Job", "Index", "Home")</h1>
        </li>
    </ul>
    <section class="top-bar-section">
        <ul class="left">
            @if (Request.IsAuthenticated)
            {
                <li>
                    <a href="@Url.Action("Index", "Offer")" ng-init="init()">Offers <span ng-cloak ng-hide="offersCountService.NewOffersCount==0" class="label count-label">{{offersCountService.NewOffersCount}}</span></a>
                </li>
                
            }
            <li>
                @Html.ActionLink("Developers", "Index", "Developer")
            </li>
        </ul>
        @Html.Partial("_LoginPartial")
           <span>
            <div class="row">
                <alert ng-cloak class="small-12 columns" ng-repeat="alert in alertsService.alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
            </div>
        </span>
    </section>
</nav>
