@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="panel">
    <h2 class="text-danger">We've got an error</h2>
    <p>It looks as though we've broken something on our system. Don't panic, I've emailed
        dev team and told them what is wrong.</p>
<p>Guys responsible for this error: Twitter | Twitter</p>
</div>


