@model DreamJob.ViewModels.JobOfferDetailsViewModel
<div class="container">
    <div class="row">
        @Html.DisplayFor(m => m.JobOfferDetailViewModel)
    </div>
    <div class="row">
        <label>Status history:</label>
        @Html.DisplayFor(m => m.JobOfferDetailViewModel.JobOfferStatusChangeViewModels)
    </div>

    <div class="row">
        @Html.EditorFor(m => m.NewCommentViewModel)
    </div>
</div>

<script src="~/Scripts/jobOfferDetailsComments.js"></script>
<script type="text/javascript">

    var jobOfferDetailsCommentOptions = {
        buttonJobOfferDetailAddComment: ".nocss-button-job-offer-add-comment",
        formAddComment: ".nocss-form-job-offer-add-comment",
        containerJobOfferComments: ".nocss-container-job-offer-comments",
        urlJobOfferAddComment:"@Url.Action("AddPartial","Comment")"
    };

    $(document).ready(function() {
        jobOfferDetailsComments.initialize(jobOfferDetailsCommentOptions);
    });
</script>                                                                                      